{% extends "profile.html" %} {% block main %}
<style>
  .chat-container {
    height: 90vh;
  }
  .chat-list {
    border-right: 1px solid #dee2e6;
    height: 100%;
    overflow-y: auto;
  }
  .chat-box {
    display: flex;
    flex-direction: column;
    height: 90%;
  }
  #chat-window {
    display: flex;
    flex-direction: column;
    height: 100vh; /* full screen */
  }

  .chat-messages {
    flex: 1; /* take remaining space */
    overflow-y: auto; /* enable vertical scroll */
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .message {
    margin-bottom: 15px;
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
  }
  .message.sent {
    background-color: #6c63ff;
    color: white;
    margin-left: auto;
  }
  .message.received {
    background-color: #e9ecef;
    color: #212529;
    margin-right: auto;
  }
  .chat-input {
    margin-top: 10px;
  }
  .status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .online {
    background-color: #22c55e; /* green */
  }

  .offline {
    background-color: #e71919; /* gray */
  }
</style>
{% load static is_presence %}
<div class="row chat-container">
  <!-- Left Column: Interest Requests Accepted -->
  <div class="col-md-4 chat-list">
    <h5 class="p-3 border-bottom">Accepted Requests</h5>
    <ul class="list-group list-group-flush">
      {% for user in users %}
      <li
        hx-get="{% url 'chat:private_chat' user.id %}"
        hx-trigger="click"
        hx-target="#chat-window"
        hx-swap="outerHTML"
        class="list-group-item d-flex align-items-center"
      >
        {% if user.matrimony_profile.profile_picture %}
        <img
          class="rounded-circle me-2"
          src="{{ user.matrimony_profile.profile_picture.url }}"
          alt="{{ user.get_username}} Photo"
        />
        {% else %}
        <img
          class="rounded-circle me-2"
          src="{% static 'avatar/male.png' %}"
          alt="{{ user.get_username}} Photo"
        />
        {% endif %}
        <span>
          {{ user.username }}
          <span
            class="presence_status_online_{{ user.id }} status-dot online {% if not user|is_presence %}d-none{% endif %}"
          ></span>
          <span
            class="presence_status_offline_{{ user.id }} status-dot offline {% if user|is_presence %}d-none{% endif %}"
          ></span>
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Right Column: Chat Box -->
  <div class="col-md-8 chat-box">
    <div id="chat-window"></div>
  </div>
</div>

<script>
  const presenceSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/presence/",
  );

  presenceSocket.onmessage = (event) => {
    const data = JSON.parse(event.data);

    if (data.type === "presence_broadcast") {
      const isOnline = data.status === "online";

      document
        .querySelectorAll(`.presence_status_online_${data.user}`)
        .forEach((el) => el.classList.toggle("d-none", !isOnline));

      document
        .querySelectorAll(`.presence_status_offline_${data.user}`)
        .forEach((el) => el.classList.toggle("d-none", isOnline));

      const lastSeen = document.getElementById("last_seen");

      if (data.status === "offline") {
        if (lastSeen) {
          lastSeen.textContent = `last seen just now`;
        }
      } else {
        if (lastSeen) {
          lastSeen.textContent = ``;
        }
      }
    }
  };

  presenceSocket.onopen = () => {
    console.log("Connected");
  };

  presenceSocket.onerror = (error) => {
    console.log("Socket error: " + error);
  };

  presenceSocket.onclose = () => {
    console.log("Socket close unexpectedly");
  };
</script>

{% endblock %}
