{% extends "profile.html" %} {% block main %}
<style>
  .chat-container {
    height: 90vh;
  }
  .chat-list {
    border-right: 1px solid #dee2e6;
    height: 100%;
    overflow-y: auto;
  }
  .chat-box {
    display: flex;
    flex-direction: column;
    height: 90%;
  }
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
  }
  .message {
    margin-bottom: 15px;
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
  }
  .message.sent {
    background-color: #6c63ff;
    color: white;
    margin-left: auto;
  }
  .message.received {
    background-color: #e9ecef;
    color: #212529;
    margin-right: auto;
  }
  .chat-input {
    margin-top: 10px;
  }
</style>
{% load static %}
<div class="row chat-container">
  <!-- Left Column: Interest Requests Accepted -->
  <div class="col-md-3 chat-list">
    <h5 class="p-3 border-bottom">Accepted Requests</h5>
    <ul class="list-group list-group-flush">
      {% for user in users %}
      <li
        hx-get="{% url 'chat:private_chat' user.id %}"
        hx-trigger="click"
        hx-target="#chat-window"
        hx-swap="outerHTML"
        class="list-group-item d-flex align-items-center"
      >
        {% if user.matrimony_profile.profile_picture %}
        <img class="rounded-circle me-2" src="{{ user.matrimony_profile.profile_picture.url }}" alt="{{ user.get_username}} Photo" />
        {% else %}
        <img class="rounded-circle me-2" src="{% static 'avatar/male.png' %}" alt="{{ user.get_username}} Photo" />
        {% endif %}
        <span>{{ user.username }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Right Column: Chat Box -->
  <div class="col-md-9 chat-box">
    <div id="chat-window"></div>
  </div>
</div>

<script>
    const chatSocket = new WebSocket(
      "ws://" + window.location.host + "/ws/presence/",
    );

    chatSocket.onmessage = (event) => {
        const data = event.data
        console.log(data)
    }

    chatSocket.onopen  = () => {
        console.log('Connected')
    }

    chatSocket.onerror = (error) => {
        console.log('Socket error: '+ error)
    }

    chatSocket.onclose = () => {
        console.log('Socket close unexpectedly')
    }
</script>

{% endblock %}
