    <p><strong>Email:</strong> {{ request.user.email|default:"NA" }}</p>
    <p><strong>Phone:</strong> {{ request.user.phone|default:"NA" }}</p>
    <p><strong>Education:</strong> {{ request.user.matrimony_profile.education|default:"NA" }}</p>
    <p><strong>Religion:</strong> {{ request.user.matrimony_profile.religion|default:"NA" }}</p>
    <p>
        <strong>Location:</strong> {{ request.user.matrimony_profile.city|default:"NA" }}, {{ request.user.matrimony_profile.country|default:"NA" }}
    </p>
    <button class="btn btn-outline-primary btn-sm">Edit Info</button>